<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<a:theme xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/main" name="{{ theme_name }}">
  <a:themeElements>
    <a:clrScheme name="{{ theme_name }}">
      <a:dk1><a:srgbClr val="{{ dk1 }}"/></a:dk1>
      <a:lt1><a:srgbClr val="{{ lt1 }}"/></a:lt1>
      <a:dk2><a:srgbClr val="{{ dk2 }}"/></a:dk2>
      <a:lt2><a:srgbClr val="{{ lt2 }}"/></a:lt2>
      <a:accent1><a:srgbClr val="{{ accent1 }}"/></a:accent1>
      <a:accent2><a:srgbClr val="{{ accent2 }}"/></a:accent2>
      <a:accent3><a:srgbClr val="{{ accent3 }}"/></a:accent3>
      <a:accent4><a:srgbClr val="{{ accent4 }}"/></a:accent4>
      <a:accent5><a:srgbClr val="{{ accent5 }}"/></a:accent5>
      <a:accent6><a:srgbClr val="{{ accent6 }}"/></a:accent6>
      <a:hlink><a:srgbClr val="{{ hlink }}"/></a:hlink>
      <a:folHlink><a:srgbClr val="{{ folHlink }}"/></a:folHlink>
    </a:clrScheme>
    <a:fontScheme name="{{ theme_name }}">
      <a:majorFont>
        <a:latin typeface="{{ font_major }}"/>
        <a:ea typeface=""/>
        <a:cs typeface=""/>
      </a:majorFont>
      <a:minorFont>
        <a:latin typeface="{{ font_minor }}"/>
        <a:ea typeface=""/>
        <a:cs typeface=""/>
      </a:minorFont>
    </a:fontScheme>
    <a:fmtScheme name="{{ theme_name }}">
      <a:fillStyleLst>
        <a:solidFill><a:schemeClr val="phClr"/></a:solidFill>
        <a:solidFill><a:schemeClr val="phClr"><a:lumMod val="110000"/><a:satMod val="105000"/><a:tint val="67000"/></a:schemeClr></a:solidFill>
        <a:solidFill><a:schemeClr val="phClr"><a:lumMod val="105000"/><a:satMod val="103000"/><a:tint val="94000"/></a:schemeClr></a:solidFill>
      </a:fillStyleLst>
      <a:lnStyleLst>
        <a:ln w="6350" cap="flat" cmpd="sng" algn="ctr"><a:solidFill><a:schemeClr val="phClr"/></a:solidFill><a:prstDash val="solid"/><a:miter lim="800000"/></a:ln>
        <a:ln w="12700" cap="flat" cmpd="sng" algn="ctr"><a:solidFill><a:schemeClr val="phClr"/></a:solidFill><a:prstDash val="solid"/><a:miter lim="800000"/></a:ln>
        <a:ln w="19050" cap="flat" cmpd="sng" algn="ctr"><a:solidFill><a:schemeClr val="phClr"/></a:solidFill><a:prstDash val="solid"/><a:miter lim="800000"/></a:ln>
      </a:lnStyleLst>
      <a:effectStyleLst>
        <a:effectStyle><a:effectLst/></a:effectStyle>
        <a:effectStyle><a:effectLst/></a:effectStyle>
        <a:effectStyle><a:effectLst><a:outerShdw blurRad="57150" dist="19050" dir="5400000" algn="ctr" rotWithShape="0"><a:srgbClr val="000000"><a:alpha val="63000"/></a:srgbClr></a:outerShdw></a:effectLst></a:effectStyle>
      </a:effectStyleLst>
      <a:bgFillStyleLst>
        <a:solidFill><a:schemeClr val="phClr"/></a:solidFill>
        <a:solidFill><a:schemeClr val="phClr"><a:tint val="95000"/><a:satMod val="170000"/></a:schemeClr></a:solidFill>
        <a:solidFill><a:schemeClr val="phClr"><a:shade val="30000"/><a:satMod val="200000"/></a:schemeClr></a:solidFill>
      </a:bgFillStyleLst>
    </a:fmtScheme>
  </a:themeElements>
  <a:objectDefaults/>
  <a:extraClrSchemeLst/>
</a:theme>
